<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stoked By Design</title>
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700" rel="stylesheet">
</head>

<body>
  <div id="menu-overlay"></div>
  <section class="hero-container menu-section" id="hero">
    <div class="container-fluid h-100">
      <div class="row h-100 w-100 position-absolute">
        <div class="background-image-container w-100 h-100">
          <div class="background-image w-100 h-100  parallax" data-parallax-direction="up" data-parallax-speed="0.5"></div>
        </div>
      </div>
      <div class="row h-100 w-100 position-absolute hero-pattern-row">
        <div class="hero-pattern-container hero-pattern-left-container w-100 h-100" data-slide-speed="fast">
          <div class="hero-pattern w-100 h-100"></div>
        </div>
      </div>
      <div class="row h-100 w-100 position-absolute hero-pattern-row">
        <div class="hero-pattern-container hero-pattern-right-container w-100 h-100" data-slide-speed="fast">
          <div class="hero-pattern w-100 h-100"></div>
        </div>
      </div>
      <div class="row h-100 w-100 position-absolute hero-pattern-row">
        <div class="hero-pattern-container hero-pattern-center-container w-100 h-100" data-slide-speed="slow">
          <div class="hero-pattern w-100 h-100"></div>
        </div>
      </div>
      <div class="row h-100 hero-content-row position-relative justify-content-md-center">
        <div class="position-absolute hero-contact text-right ">
          <h2 class="hero-email text-white">info@stokedbydesign.co.uk</h2>
          <h3 class="hero-contact-message text-primary">Get in touch!</h3>
        </div>
        <div class="col col-12  h-100 d-flex justify-content-center align-items-center" >        
          <div class="hero-content d-flex justify-content-center align-items-center flex-column w-100">
            <div class="hero-logo animated animated-slide-top animated-4"><img src="images/stoked-logo.png" alt="Stoked By Design"></div>
            <h1 class="hero-text"><span class="hero-text-coloured hero-text-section animated animated-fade animated-1">Hi!</span><span class="text-uppercase hero-text-section animated animated-slide-right animated-2"> We Are </span><span class="text-uppercase hero-text-section animated animated-slide-left animated-3"> Stoked By Design</span></h1>
            <h2 class="hero-subtext  animated animated-slide-bottom animated-4">Design, Print and Web Design in Glasgow</h2>
            <a href='#' class="hero-nav-arrow" id="scroll-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255); transition: none 0s ease 0s; text-align: inherit; line-height: 28px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 16px; stroke-dashoffset: 0px; stroke-dasharray: 0; stroke-width: 0px; stroke: transparent;"><path d="M7 10l5 5 5-5z" style="fill: rgb(255, 255, 255); transition: none 0s ease 0s; text-align: inherit; line-height: 28px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 16px;"></path></svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255); transition: none 0s ease 0s; text-align: inherit; line-height: 28px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 16px; stroke-dashoffset: 0px; stroke-dasharray: 0; stroke-width: 0px; stroke: transparent;"><path d="M7 10l5 5 5-5z" style="fill: rgb(255, 255, 255); transition: none 0s ease 0s; text-align: inherit; line-height: 28px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 16px;"></path></svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255); transition: none 0s ease 0s; text-align: inherit; line-height: 28px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 16px; stroke-dashoffset: 0px; stroke-dasharray: 0; stroke-width: 0px; stroke: transparent;"><path d="M7 10l5 5 5-5z" style="fill: rgb(255, 255, 255); transition: none 0s ease 0s; text-align: inherit; line-height: 28px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 16px;"></path></svg>
            </a> 
          </div>
        </div>
      </div>
    </div>
  </section>
  <header class="header-container" id="header">
      <nav class="navbar navbar-main navbar-expand-xl navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="images/stoked-nav-logo.png" class="d-inline-block align-top img-fluid" alt="Stoked By Design"></a>
        <button class="navbar-toggler" type="button" data-target="#navbarMobile" aria-controls="navbarMobile" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav" id="header-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#"><span class="nav-link-text">Home</span></a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link" href="#about-section"><span class="nav-link-text">About Stoked</span></a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="#services-section"><span class="nav-link-text">What We Do</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#how-section"><span class="nav-link-text">How We Do It</span></a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link" href="#testimonials-section"><span class="nav-link-text">Things We've Done</span></a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="#contact-section"><span class="nav-link-text">Let's Talk</span></a>
            </li>
          </ul>
        </div>
      </nav>
  </header>
  <nav class="navbar navbar-mobile" id="navbarMobile">
        <button class="navbar-toggler" type="button" data-target="#navbarMobile" aria-controls="navbarMobile" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon icon-close bg-primary"></span>
          </button>
        <ul class="navbar-nav" id="mobile-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#"><span class="nav-link-text">Home</span></a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link" href="#about-section"><span class="nav-link-text">About Stoked</span></a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="#services-section"><span class="nav-link-text">What We Do</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#how-section"><span class="nav-link-text">How We Do It</span></a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link" href="#testimonials-section"><span class="nav-link-text">Things We've Done</span></a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="#contact-section"><span class="nav-link-text">Let's Talk</span></a>
            </li>
          </ul>
   
  </nav>
  <main class="main-content">
    <section class="content-section  menu-section" id="about-section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h3 class="section-header text-center">Stoked by Design</h3>
          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="col-12 col-md-6">
            <div class="section-content">
              <h4 class="section-subheader">Design, Print and Web Services in Glasgow</h4>
              <p class="text-secondary">With years of experience in the Design and Print sectors, Stoked takes on projects no matter the size.</p>
              <p class="text-secondary">Whether you have an existing brand or are looking to start from scratch, we can take your idea from contept to reality.</p>
              <button class="btn btn-primary btn-filled">Get in touch</button>
              <button class="btn btn-primary btn-filled">What our clients say</button>
            </div>
          </div>
          <div class="col-12 col-md-6"><img class="img-fluid" src="images/stoked-section1.jpg" alt="Design, print and web services in Glasgow"></div>
        </div>
      </div>
    </section>
    <section class="content-section  menu-section parallax" id="services-section" data-parallax-direction="up" data-parallax-speed="0.5">
      <div class="container container-larger">
        <div class="row">
          <div class="col-12">
            <h3 class="section-header text-center text-white">What We Do</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4 d-flex card-column">
            <div class="card border border-primary border-3 text-center bg-transparent text-white">
              <div class="card-body">
                <div class="boxed-icon icon-design text-primary border-primary border border-3 flex-shrink-0 mx-auto"></div>
                <h4 class="section-subheader card-header-text">Design</h4>
                <p class="underlined-text">We can take your idea from concept to reality. Whether it’s starting from scratch for a new business or working within existing corporate brand guidelines, we can help with any project.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 d-flex card-column">
            <div class="card border border-white border-3 text-center bg-white">
              <div class="card-body">
                <div class="boxed-icon icon-print text-primary border-primary border border-3 flex-shrink-0 mx-auto"></div>
                <h4 class="section-subheader card-header-text">Print</h4>
                <p class="underlined-text">We can print locally in Glasgow, or can have your order delivered straight to you. With access to specialist printer equipment we can take on any job.</p>
              </div>
            </div>          
          </div>
          <div class="col-12 col-md-4 d-flex card-column">
            <div class="card border border-primary border-web border-3 text-center bg-transparent text-white">
              <div class="card-body">
                <div class="boxed-icon icon-web text-primary border-primary border border-3 flex-shrink-0 mx-auto"></div>
                <h4 class="section-subheader card-header-text">Web</h4>
                <p class="underlined-text">Content Managed, Woo Commerce and Mobile Optimised websites are our bread and butter. Our wireframe allows us to create bespoke websites to your needs.</p>
              </div>
            </div>          
          </div>
        </div>
      </div>
    </section>
    <section class="content-section no-padding menu-section" id="how-section">
      <div class="container-fluid no-padding">
        <div class="row d-flex align-items-top no-gutters text-center">
          <div class="col-10 offset-1 col-md-4 how-column">
            <h3 class="section-header">How We Do It</h3>
            <p class="text-secondary text-content">With our extensive experience and impressive knowledge base we can keep you right on any project.</p>    
            <div class="row no-gutters flex-nowrap bullet-row">
                <div class="boxed-icon icon-user text-primary border-primary border border-3 flex-shrink-0"></div>
                <div class="section-text-content text-left">
                  <h5 class="section-list-header">Individual Approach</h5>
                  <p class="text-secondary">Every project is unique, and we treat it that way. We’ll work with you to get the best product possible.</p>
                </div>
            </div>
            <div class="row no-gutters flex-nowrap bullet-row">
              <div class="boxed-icon icon-pointer text-primary border-primary border border-3 flex-shrink-0"></div>
              <div class="section-text-content text-left">
                <h5 class="section-list-header">Ahead of the Curve</h5>
                <p class="text-secondary">Glasgow is a fantastic city for design, and we can keep you in the game with the latest trends and styles.</p>
              </div>
          </div>
          <div class="row no-gutters flex-nowrap bullet-row">
            <div class="boxed-icon icon-cog text-primary border-primary border border-3 flex-shrink-0"></div>
            <div class="section-text-content text-left">
              <h5 class="section-list-header">Modern Technology</h5>
              <p class="text-secondary">Our websites are mobile optimised and easy to update, with basic website training available we will keep you right online.</p>
            </div>
        </div>
          </div>
          <div class="d-none d-md-block  col-6 offset-1">
            <div class="how-background-image h-100 w-100"></div>        
          </div>
        </div>
      </div>
    </section>
    <section class="content-section parallax" id="contact-mini-section" data-parallax-direction="up" data-parallax-speed="0.5"> 
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h3 class="section-header text-white">Let's Talk!</h3>
            <h4 class="section-subheader text-white">Get in touch and find out what we can do for you.</h4>
            <button class="btn btn-outline-primary btn-clear border-3">Get In Touch Now</button>
          </div>
        </div>
      </div>
    </section>
    <section class="content-section no-padding menu-section" id="testimonials-section">
      <div class="container-fluid no-padding">
        <div class="row d-flex align-items-top no-gutters text-center">
          <div class="d-none d-md-block  col-6">
            <div class="testimonials-background-image h-100 w-100"></div>        
          </div>
          <div class="col-12 col-lg-6 how-column">
            <h3 class="section-header">Things We've Done</h3>
              <div class="carousel slide" id="testimonialCarousel" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#testimonialCarousel" data-slide-to="1"></li>
                  <li data-target="#testimonialCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item">
                    <div class="carousel-caption">
                      <p class="testimonial-company text-black">E-Computers Perth</p>
                      <p class="testimonial-name text-primary">Justin Hay - Director</p>
                      <p class="testimonial-text text-secondary">We couldn't fault the team from beginning to end. Delivered exactly what we wanted.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="carousel-caption">
                      <p class="testimonial-company text-black">Chas Sievewright Photography</p>
                      <p class="testimonial-name text-primary">Chas Sievewright - Photographer</p>
                      <p class="testimonial-text text-secondary">I was looking for a fresh, clean website and these guys came up trumps. They produced an easy to navigate site that allows viewers to filter my photographs quickly. The site was done fast, without issues and professionally. Great work!</p>
                    </div>
                  </div>
                  <div class="carousel-item active">
                    <div class="carousel-caption">
                      <p class="testimonial-company text-black">Alan's Pet Shop</p>
                      <p class="testimonial-name text-primary">Alan Roger - Owner</p>
                      <p class="testimonial-text text-secondary">After only a few conversations about our expectations, our website was built. Can't praise these guys enough, honest, straight forward, professional approach along with resonable pricing. 5* all the way.</p>
                    </div>
                  </div>                  
                </div>
                <a class="carousel-control-prev" href="#testimonialCarousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#testimonialCarousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
          </div>
        </div>
      </div>
    </section>
    <section class="content-section no-padding menu-section" id="contact-section">
      <div class="container-fluid no-padding">
        <div class="row d-flex align-items-top no-gutters text-center">
          <div class="col-10 offset-1 col-lg-4  contact-column order-2 order-lg-1">
            <h3 class="section-header">Let's Talk</h3>
            <p class="text-secondary text-content">Drop us a message with your project and we’ll be back in touch with how we can help.</p>    
            <form class="contact-form">
              <div class="form-group">
                <input type="text" class="form-control textbox" id="contactName" placeholder="Name *">
              </div>
              <div class="form-group">
                <input type="email" class="form-control textbox" id="contactEmail" placeholder="Email *">
              </div>
              <div class="form-group">
                <input type="text" class="form-control textbox" id="contactTelephone" placeholder="Telephone *">
              </div>
              <div class="form-group form-group-message">
                <textarea class="form-control textarea" id="contactMessage" rows="3" placeholder="Message *"></textarea>
              </div>
              <div class="form-group text-left text-secondary form-group-consent">
                  <input type="checkbox" class="form-check-input" id="consentCheck">
                  <label class="form-check-label" for="consentCheck">By using this form you agree with the storage and handling of your data by stokedbyweb.co.uk</label>
                </div>
              <div class="btn-container w-100 text-left">
                  <button type="submit" class="btn btn-primary">Send Message</button>
              </div>
            </form>
          </div>
          <div class="col-12 col-lg-6 offset-lg-1 order-1 order-lg-2">
            <div class="contact-background-image"></div>        
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="content-section" id="footer-section">
    <div class="container-fluid no-padding">
      <div class="row">
        <div class="col-12 text-center  text-white">
          <h3 class="section-header">Follow Us!</h3>
          <div class="col-10 offset-1 col-md-6 offset-md-3">
            <div class="row justify-content-center">
              <div class="col-6 col-sm-3">
                <a href="#" class="social-media">
                  <div class="social-media-icon social-twitter bg-primary rounded-circle"></div>
                  <p class="social-media-text">Twitter</p>
                </a>
              </div>
              <div class="col-6 col-sm-3">
                <a href="#" class="social-media">
                  <div class="social-media-icon social-instagram bg-primary rounded-circle"></div>
                  <p class="social-media-text">Instagram</p>
                </a>              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="js/scripts.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>