

.how-column{
    padding:6.25rem 0;
    .text-content{
        padding-bottom:2.1875rem;
    }
    .bullet-row{
        margin-bottom:1.25rem;
    }
}

.how-background-image{
    background-image:url('../images/stoked-section3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}