#services-section{
    background-image:
        linear-gradient(
            rgba(26,0,33,.75), 
            rgba(26,0,33,.75)
        ),
        url('../images/stoked-section2-background-medium.jpg');
    @include media-breakpoint-up(xl){
        background-image:
        linear-gradient(
            rgba(26,0,33,.75), 
            rgba(26,0,33,.75)
        ),
        url('../images/stoked-section2-background.jpg');
        background-size:cover;
    }
    background-repeat: repeat;
    background-size:cover;
    @include media-breakpoint-up(md){
        background-size:110%;
    }
    
    .card-column{
        padding:.625rem;
    }
    .section-header{
        @include media-breakpoint-up(md){
            font-size:3.75rem;
        }
    }
    padding:7.5rem 0;
}